@font-face {
   font-family: 'Lato-Light';
   font-display: swap;
   src: url('file:///Users/l.dairaine/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-05-12_171930/fonts/Lato-Light/font.ttf');
}
